/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(34, 34, 34);
    color: #fff;
    font-weight: 500;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.Weather-container {
    font-size: 25px;
}

.Weather-container .icon {
    width: 100px;
    height: 100px;
}

.Search-button {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input-weather {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    background: #cacaca;
    color: rgb(49, 49, 49);
    font-size: 15px;
    font-weight: 500;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    box-shadow: 0 0 15px #ffee10;
    transition: .2s;
    transform: scale(1.05);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

/* Estilos para móviles */
@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        padding: 8px 16px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 40px;
        height: 40px;
    }
}